   <h3>The easiest way to track a package shipped via UPS, FedEx, USPS, and other major carriers!</h3>

        <div class="form-horizontal">
            <form id="myform" method="POST" action="/" enctype="application/x-www-form-urlencoded">
                <input type="text" name="trackingNumber" id="asdfa" placeholder="Ex: 1Z855489595131">
                <input type="submit" value="Track!" name="foo" class="btn btn-primary" />
            </form>
        </div>
    
    <ol>
		<li>Enter your tracking number</li>
		<li>Push &quot;Track!&quot;</li>
		<li>See tracking information instantly, with automatic carrier detection</li>
		<li>Subscribe via RSS for automatic updates</li>
	</ol>

    <div class="shipperLogos">
        <img src="/images/shippers/UPS.png" />
        <img src="/images/shippers/FedEx.png" />
        <img src="/images/shippers/USPS.png" />
        <img src="/images/shippers/DHL.png" />
    </div>
    
    <p id="disclaimer">
		This site is not affiliated with <a href="http://www.dhl.com" rel="nofollow">
			DHL</a>, <a href="http://www.fedex.com" rel="nofollow">Fedex</a>, <a href="http://www.ups.com"
				rel="nofollow">UPS</a>, or <a href="http://www.usps.com" rel="nofollow">USPS</a>.
		If you have any questions, you need
		to contact the package carrier.
	</p>

<!--
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-5688936277424538";
    /* 336x280 */
    google_ad_slot = "4673865914";
    google_ad_width = 336;
    google_ad_height = 280;
    //--><!--
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>-->